/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.dark-blue {
    background-color: #000033 !important;
}

header, main, footer {
    padding-left: 300px;
}

nav.top-nav h3.header {
    margin: 0;
}

.logo {
    display: inline-block;
}

.table-cell-align-end {
    text-align: end;
}

/* label color */
.input-field label {
    color: #000033 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000033 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000033 !important;
    box-shadow: 0 1px 0 0 #000033 !important;
}

.fab-bottom-right {
    position: fixed;
    bottom: 10%;
    right: 2%;
}