@model IEnumerable<BookingSystemApp.View_Models.ManageDietInfoVM>

@{
    ViewBag.Title = "ManageDietInfo";
}

<div class="row">
    @using (Html.BeginForm("AddDietInfo", "MenuItemAdmin", FormMethod.Post, new { style = "overflow: hidden; margin-top: 4em;" }))
    {
        <div class="">
            <label>Select diet information to add</label>
            @Html.DropDownList("dietInfoId", null, "Select diet information", htmlAttributes: new { @class = "browser-default" })
        </div>

        <div class="form-group" style="text-align:end; margin-top: 1em;">
            <input type="submit" value="Add" class="btn btn-primary dark-blue" />
        </div>
    }
</div>

<div class="row" style="margin-top: 2em;">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>

        @foreach (var dietInfo in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dietInfo.Name)
                </td>
                <td class="table-cell-align-end">
                    <input type="button" value="Remove" class="btn btn-primary dark-blue" onclick="location.href='@Url.Action("RemoveDietInfo", new { id = dietInfo.Id, menuItemId = dietInfo.MenuItemId })'" />
                </td>
            </tr>
        }
    </table>
</div>