<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bookingmenuservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookingmenuservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bookingmenuservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bookingmenuservice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookingSystemDb" Order="1" Enabled="False">
          <Destination Path="Data Source=bookingsystemdb.database.windows.net;Initial Catalog=RestaurantBookingSystem;User ID=BookingAdmin;Password=Admin123;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DatabaseContext.Data.BookingSystemDb, DatabaseContext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DatabaseContext.Data.Core.GenericDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=bookingsystemdb.database.windows.net;Initial Catalog=RestaurantBookingSystem;User ID=BookingAdmin;Password=Admin123;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DatabaseContext.Data.Core.GenericDbContext, DatabaseContext" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ResourceId>/subscriptions/379e626d-f866-4d5a-877d-956a42dfa7dc/resourcegroups/RestaurantBookingSystem/providers/Microsoft.Web/sites/bookingmenuservice</ResourceId>
    <ResourceGroup>RestaurantBookingSystem</ResourceGroup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DatabaseContext.Data.Core.GenericDbContext-Web.config Connection String">
      <ParameterValue>Data Source=bookingsystemdb.database.windows.net;Initial Catalog=RestaurantBookingSystem;User ID=BookingAdmin;Password=Admin123;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookingSystemDb-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.BookingSystemDb.csdl|res://*/Data.BookingSystemDb.ssdl|res://*/Data.BookingSystemDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=bookingsystemdb.database.windows.net;Initial Catalog=RestaurantBookingSystem;User ID=BookingAdmin;Password=Admin123;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DatabaseContext.Data.Core.GenericDbContext" />
  </ItemGroup>
</Project>