
@{
    ViewBag.Title = "Admin Tools";
}

<div class="row">
    <table class="table">
        <tr>
            <td>
                Restaurants
            </td>
            <td>
                Manage restaurants
            </td>
            <td class="table-cell-align-end">
                <input type="button" value="Manage" class="btn btn-primary dark-blue" onclick="location.href='/Admin/Restaurant'" />
            </td>
        </tr>

        <tr>
            <td>
                Diet Info
            </td>
            <td>
                Manage diet info types
            </td>
            <td class="table-cell-align-end">
                <input type="button" value="Manage" class="btn btn-primary dark-blue" onclick="location.href='/Admin/DietInfo'" />
            </td>
        </tr>

        <tr>
            <td>
                Menu Items
            </td>
            <td>
                Manage menu items
            </td>
            <td class="table-cell-align-end">
                <input type="button" value="Manage" class="btn btn-primary dark-blue" onclick="location.href='/Admin/MenuItem'" />
            </td>
        </tr>

        <tr>
            <td>
                Menu Item Categories
            </td>
            <td>
                Manage menu item categories
            </td>
            <td class="table-cell-align-end">
                <input type="button" value="Manage" class="btn btn-primary dark-blue" onclick="location.href='/Admin/MenuItemCategory'" />
            </td>
        </tr>
    </table>
</div>